.toast {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: purple;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    z-index: 1000;
    opacity: 0.95;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .toast p {
    margin: 0;
  }
  
  .toast.success {
    background-color: #7d40ff;
  }
  
  .toast.error {
    background-color: #ff4d4d;
  }
  
  .toast.info {
    background-color: #a16cfc;
  }
  